@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 10px;
}
.active-link {
  color: red;
}

.pending-link {
  color: black;
}

li {
  list-style: none;
}

h1{
  font-size: 30px;
  font-weight: bold;
}
